* {
  background:       #282828;
  background-alt:   #689d6a; 
  border:           #689d6a;
  border-alt:       #83a598;
  foreground:       #ebdbb2;
  selected:         #689d6a;
  urgent:           #fb4934;
}
